:root{
  --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
}

html,body{
        font-size: 16px;
        font-family: 'Raleway',sans-serif;
        height: 100%;
        margin:0;
        padding: 0;
        box-sizing: border-box;
}

body{
  background: url(../images/bg-mobile.png) no-repeat;
  overflow: auto;
  background-size: cover;
  min-height: 100%;
  font-weight: 400;
  font-size: 0.875rem;

}

p{   color:var(--Pale-Blue);}
h1{

}

h2{

}

h3{

}

ul{
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding: 0;
}

.header{
  height: 100%;
  margin:auto ;
  text-align: center;
}

.container{
  background-color: var(--Dark-Blue);
  box-shadow:1px 1px ;

}
.main-div{
  margin: 1rem auto;
  border-radius: 15px 100px 15px 15px;
  text-align: left;
  max-width: 360px;
    width: 70%;
}

.logo-img{
  margin:2rem 1rem 1rem 3rem;
}

.item-icon-list{
    padding:1rem 3rem 3rem;
}

.icon-item{
    display: inline-block;
}

.icon{
  padding: 15px;
  background-color: var(--Very-Dark-Blue);
  margin-right: 1rem;
  height: 1rem;
  border-radius: 15px;
}


.progress-div{

  max-width: 360px;
  padding: 0.8rem 0.25rem;
  border-radius: 20px;
  width: 70%;
  margin: 1rem auto;
  text-align: center;
  position: relative;
}

.progress-bar{
  -webkit-appearance:none;
  appearance:none;
  margin-top:0.5rem;
  border-radius: 20px;
  width: 70%;
  height: 1rem;

}

.progress-bar::-webkit-progress-bar {
  border-radius: 20px;
  height: 1rem;
}

.progress-bar::-webkit-progress-value {
    border-radius: 20px;
    background: linear-gradient(to right, hsl(6, 100%, 80%) ,hsl(335, 100%, 65%));
}

.limit-div{
  width: 70%;
  margin: 0 auto;
  text-align: left;
}
.start-limit, .end-limit{

  display: inline-block;

}
.start-limit{
  width:20%;
}

.end-limit{
  width: 78%;
  text-align: right;

}

.bold-span{
  font-weight: bold;
}

.remaining-div{
  width: 50%;
  border-radius: 10px;
  background-color: white;
  margin:0.5rem auto;
  position: absolute;
  top:7rem;
  left:6rem;
  text-align: center;
}

.remaining-div h1{
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
}
.remaining-div p{
  font-weight: bold;
  display: inline-block;
  margin-left: 1rem;
  color:var(--Grayish-Blue);

}


@media only screen and (min-width:1024px) {

body{
  background-image:  url(../images/bg-desktop.png) ;
  background-position:bottom;
  background-size: contain;
  background-color: var(--Very-Dark-Blue);
  background-attachment: fixed;


}
  .flex{
    display: flex;
    justify-content: center;
    align-items: center;

  }
.progress-div p{

  margin-left: 2rem;

}

  .progress-div{
    display: flex;
    align-self:center;
    flex-wrap: wrap;
    flex: 3 1 360px;
    max-width: 35rem;
    margin: 1rem 1rem 0.2rem;
    text-align: left;

  }

  .progress-div p{
    align-self: flex-end;
  }
  .progress-bar{
    flex:1 0 2;
    width: 90%;
    margin: 0.5rem 2rem 0.5rem;
    order:2;

  }
  .main-div {
    flex: 1;
    margin: 1rem;
  }



  .limit-div{
    width: 100%;
    flex:1 0 2;
    margin: 0 auto;
    text-align: left;
    order: 3;

  }

  .start-limit{
    width:20%;
  }

  .end-limit{
    width: 65%;
    text-align: right;

  }

  .bold-span{
    font-weight: bold;
  }

  .remaining-div{
    width: 30%;
    position:absolute;
    left:20rem;
    top:-2rem;
  }

  .remaining-div h1{
    margin: 1rem 0.25rem;
  }

}
